extends ../shared/template
block content
  h1.text-center Hangman
  label Name
  input#name(type='text')
  div
  br
  button#new Start
  br
  #word
  br
  #inletter
  #lettersubmit
  #chances
  #hiddenid
